<?xml version="1.0" encoding="utf-8"?>
<!-- Blocks direct/anonymous browsing of files in this folder. Downloads
     only happen through DocumentController.Download, which streams the
     file with the correct content-type after an auth check. -->
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.web>
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>
